
<div class="row">
    <div class="col">
        <h1 class="display-4">Admin Sayfası</h1>
    </div>
</div>


@*Admin olanlanlar girebilir*@
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">ADMİN</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link text-dark" asp-controller="User" asp-action="List"><i class="fa-solid fa-users"></i> KULLANICILAR</a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link text-dark" asp-controller="Category" asp-action="List"><i class="fa-solid fa-list"></i> KATEGORİLER</a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-dark" asp-controller="Product" asp-action="List"><i class="fa-solid fa-layer-group"></i> ÜRÜNLER</a>
            </li>
        </ul>
    </div>
</nav>